body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    margin: 25px 50px;
}

#map {
    width: 100%;
    height: 500px;
    margin: 20px 0;
}

#user-form {
    margin: 20px 0;
}

.delete-user {
    cursor: pointer;
    color: red;
}


#user-list {
    margin: 20px 0;
}

#accelerometer-data,#user-list {
    margin: 25px 50px;
}

.content {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 0 50px;
    gap: 25px;
}

.infos {
    align-content: center;
    justify-self: center;
}

#username,#cameraButton {
    margin-bottom: 25px;
}

button {
    border: none;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
}